# Manter as pastas 'private' e 'cache', mas ignorar o conteúdo delas
!private/
!cache/

# Ignorar tudo dentro dessas pastas
private/*
cache/*

# Ignorar arquivos específicos
vendor
composer.lock
.env

node_modules
